{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_about.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Antonin Meynadier</a>
            <a href="#">A propos</a>
            <a href="#">fjkslq</a>
            <a href="#">about</a>
        </nav>
    </header>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas necessitatibus doloremque est blanditiis earum quis fuga obcaecati impedit ratione repellat culpa iure explicabo sit, aut aperiam ad asperiores adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas necessitatibus doloremque est blanditiis earum quis fuga obcaecati impedit ratione repellat culpa iure explicabo sit, aut aperiam ad asperiores adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas necessitatibus doloremque est blanditiis earum quis fuga obcaecati impedit ratione repellat culpa iure explicabo sit, aut aperiam ad asperiores adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptas necessitatibus doloremque est blanditiis earum quis fuga obcaecati impedit ratione repellat culpa iure explicabo sit, aut aperiam ad asperiores adipisci.</p>
    </article>

</body>
</html>